:root {
    --color-gray-900: #212529;
    /* Muy oscuro - Jet Black */
    --color-gray-800: #343a40;
    /* Carbón - Charcoal Gray */
    --color-gray-700: #495057;
    /* Gris oscuro - Slate Gray */
    --color-gray-600: #6c757d;
    /* Gris acero - Steel Gray */
    --color-gray-500: #adb5bd;
    /* Gris medio - Light Gray */
    --color-gray-400: #ced4da;
    /* Gris claro - Cloud Gray */
    --color-gray-300: #dee2e6;
    /* Gris humo - Smoke Gray */
    --color-gray-200: #e9ecef;
    /* Gris neblina - Mist Gray */
    --color-gray-100: #f8f9fa;
    /* Casi blanco - Ghost White */
}

/* *{
    padding: 0;
    margin: 0;
} */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* margin: 5px; */
    overflow-x: hidden;
    background-color: white;
    height: 100%;
    width: 100%;
    /* max-width: 1400px;  */
}

.container-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
}

.content-img {
    /* background-color: antiquewhite; */
    margin-top: 0;
    height: 80px;
    margin-left: 10px;
    /* background-color: yellow; */

}

.logo {
    /* background-color: aqua; */
    height: 100px;
    width: 200px;
    margin-left: 0px;
}

.sidebar {
    background-color: black;
    /* background-color: antiquewhite; */
    height: 100vh;
    position: sticky;
    /* position: fixed;
    left: 0; */
    top: 0;
    width: 300px;
    border-right: 1px solid white;
    box-shadow: inset 0px 10px 30px rgba(255, 255, 255, 0.2);
}

.sidebar-nav {
    background-color: black;
    /* height: 80%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-list {
    /* background-color: yellow; */
    list-style-type: none;
    width: 203px;
    margin: 30px 0px 10px 10px;
}

.item {
    /* background-color: #ced4da; */
    font-size: 18px;
    height: 30px;
    width: 130px;
    box-shadow: none;
    margin-top: 20px;
}

a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--color-gray-600);
    font-size: 20px;
}

.item:hover {

    height: 40px;
    font-weight: bold;
    box-shadow: 4px 5px 30px rgba(169, 159, 159, 0.2);
    /* border: 0.1px solid white; */
    cursor: pointer;
}

.body-page {
    /* background-color: aquamarine; */
    width: 100%;
}

.header {
    background-color: black;
    margin-top: 0;
    height: 11%;
    display: flex;
    border-bottom: 1px solid white;
    box-shadow: 0px 5px 30px rgba(169, 159, 159, 0.2);
}

.container-header {
    /* background-color:black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.assets-fill {
    background-color: white;
    width: 205px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(169, 159, 159, 0.5);
}
.assets-fill a{
    color: black;
}

.assets-fill a:hover {
    color: var(--color-gray-800);

}

.search {
    background-color: white;

    position: relative;
    height: 50px;
    width: 350px;
    /* background-color: antiquewhite; */
    margin-top: 15px;
    margin-left: 20PX;
    border-radius: 20px;
}

.bi-search {

    position: absolute;
    z-index: 2;
    left: 10px;
    top: 15px
}

.input {
    z-index: 1;
    position: absolute;
    height: 40px;
    width: 300px;
    top: 5px;
    left: 30px;
    background-color: white;
    border: none;
    outline: none;
}

.bi-bell-fill {
    /* background-color: darkblue; */
    color: white;
    margin: auto;
}

.bi-bell-fill:hover {
    cursor: pointer;
    color: yellow;
}

.info {
    /* background-color: aqua; */
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.profile {
    background-color: var(--color-gray-300);
    width: 50px;
    margin-right: 15px;
    border-radius: 50px;
}

.profile img {
    /* background-color: yellowgreen; */
    margin-left: 1px;
    width: 50px;
    height: 50px;
}

.principal {
    /* background-color: aqua; */
    height: 98%;
}

.container-assets {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    margin: 5px;

}

.container-details {
    /* background-color: red ; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}

.content-img-details {
    /* background-color: gray; */
    width: 50%;
    height: 100%;
}

.content-img-details h1 {
    /* background-color: aqua; */
    width: 80%;
    height: 10%;
    margin: 10px;
    margin-left: 40px;
    font-size: 30px;


}

.content-img-details img {
    /* background-color: aquamarine; */
    width: 80%;
    height: 85%;
    /* margin: 10px; */
    margin-left: 40px;

}

.content-details {
    /* background-color: gray; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
}

.content-price {
    /* background-color: blueviolet; */
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 10px; */
}

.content-price h2 {
    /* background-color: aqua; */
    height: 100%;
    font-size: 30px;
    margin-top: 5px;
}

.content-details-person {
    background-color: rgba(241, 235, 235, 0.6);
    border-radius: 10px;
    width: 100%;
    height: 40%;
    box-shadow: 0px 0px 5cap rgba(159, 155, 155, 0.6);
}

.content-details-cars {
    /* background-color: green; */
    width: 100%;
    height: 40%;
    padding-top: 20px;
    /* margin-left: 40px; */
}

/* .content-details-cars img{

} */
.container-gallery {
    /* background-color:   tomato; */
    /* padding-top: 20px; */
     /* padding-inline: 40px;  */
    height: 45%;
    width: 100%;
    display: flex;
    box-sizing: border-box;

}


.content-gallery {
    /* background-color: yellow; */
     max-width: 1200px; 
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}

.person {
    /* background-color: aqua; */
    width: 100%;
    height: 55%;
}

.info-person img {
    /* position: absolute; */
    border-radius: 50px;
    top: 5px;
    left: 16px;
    /* padding-top: 10px ; */
}

.info-person {
    /* background-color: blue; */
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
    padding-top: 10px;

}

.ubication {
    margin: 10px 40px;
    position: relative;
}

.visit-profile {
    position: absolute;
    right: 10px;
    color: var(--color-gray-500);
}

.contact {
    background-color: var(--color-gray-600);
    /* width: 100%; */
    height: 38%;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 40px;
    padding-top: 5px;
    position: relative;
}

.message {
    position: absolute;
    top: 25px;
    right: 50px;
    color: var(--color-gray-500);
}

.contact-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.next {
    /* background-color: #212529; */
    width: 200px;
    height: 30px;
    margin-left: 42%;
    display: flex;
    justify-content: space-between;
}

.next a {

    width: 80px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;

}