:root {
    --color-gray-900: #212529;
    /* Muy oscuro - Jet Black */
    --color-gray-800: #343a40;
    /* Carbón - Charcoal Gray */
    --color-gray-700: #495057;
    /* Gris oscuro - Slate Gray */
    --color-gray-600: #6c757d;
    /* Gris acero - Steel Gray */
    --color-gray-500: #adb5bd;
    /* Gris medio - Light Gray */
    --color-gray-400: #ced4da;
    /* Gris claro - Cloud Gray */
    --color-gray-300: #dee2e6;
    /* Gris humo - Smoke Gray */
    --color-gray-200: #e9ecef;
    /* Gris neblina - Mist Gray */
    --color-gray-100: #f8f9fa;
    /* Casi blanco - Ghost White */
}

/* *{
    padding: 0;
    margin: 0;
} */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
}
.container-body {
    width: 100%;
    height: 100%;
}

.header {
    background-color: black;
    margin-top: 0;
    height: 12%;
    width: 100%;
    display: flex;
    box-shadow: 0px 5px 30px rgba(169, 159, 159, 0.2);
}

.container-header {
    background-color:black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-img {
    height: 80px;
    margin-left: 10px;
}

.logo {
    /* background-color: aqua; */
    height: 100px;
    width: 200px;
    margin-left: 0px;
    margin-bottom: 0;
}

.sidebar {
    background-color: black;
    /* background-color: antiquewhite; */
    min-height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid white;
    box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.2);
    
}

.items-list {
    /* background-color: yellow; */
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;
    
    
}

.item {
    /* background-color: #ced4da; */
    width: 60%;
    font-size: 18px;
    box-shadow: none;
    margin-top: 25px;
}
.assets-fill{
    background-color: white;
    border-radius:10px;
}
.assets-fill a{
    color: black;
    font-weight: bold;
}


a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--color-gray-600);
    font-size: 20px;
}

.item:hover {

    height: 40px;
    font-weight: bold;
    box-shadow: 4px 5px 30px rgba(169, 159, 159, 0.2);
    cursor: pointer;
}

.body-page {
    /* background-color: aquamarine; */
    width: 80%;
}

.principal{
    display: flex;
    flex-direction: row;
}

.search {
    background-color: white;

    position: relative;
    height: 50px;
    width: 350px;
    /* background-color: antiquewhite; */
    margin-top: 15px;
    margin-left: 20PX;
    border-radius: 20px;
}

.bi-search {

    position: absolute;
    z-index: 2;
    left: 10px;
    top: 15px
}

.input {
    z-index: 1;
    position: absolute;
    height: 40px;
    width: 300px;
    top: 5px;
    left: 30px;
    background-color: white;
    border: none;
    outline: none;
}

.bi-bell-fill {
    /* background-color: darkblue; */
    color: white;
    margin: auto;
}

.bi-bell-fill:hover {
    cursor: pointer;
    color: yellow;
}

.info {
    /* background-color: red; */
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.profile {
    background-color: var(--color-gray-300);
    width: 50px;
    margin-right: 15px;
    border-radius: 50px;
}

.profile img {
    /* background-color: yellowgreen; */
    margin-left: 1px;
    width: 50px;
    height: 50px;
}

.container-assets {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    /* margin: 5px; */

}

.container-details {
    /* background-color: red ; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px   ;
}

.content-img-details {
    /* background-color: gray; */
    width: 50%;
    min-height: 100%;
}

.content-img-details h1 {
    /* background-color: aqua; */
    width: 100%;
    height: 10%;
    margin: 0px;
    padding-left: 8%;
    font-size: 30px;


}

.content-img-details img {
    /* background-color: aquamarine; */
    width: 85%;
    height: 90%;
    margin-left: 40px;
     /* animation: shake 0.5s;
  animation-iteration-count:infinite; */
  animation: pulse 1.2s ease-in-out infinite;

}
/* @keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
} */
@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50%      { transform: scale(1.05); }
}

.content-details {
    /* background-color: gray; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
}

.content-price {
    /* background-color: blueviolet;    */
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-price h2 {
    font-size: 30px;
    margin-top: 5px;
}

.content-details-person {
    background-color: rgba(241, 235, 235, 0.6);
    border-radius: 10px;
    margin-top: 0;
    height: 50%;
    width: 100%;
    box-shadow: 0px 0px 50px rgba(159, 155, 155, 0.6);
}

.content-details-cars {
    /* background-color: green; */
    width: 100%;
    height: 20%;
    padding-top: 20px;
}

.container-gallery {
    height: 43%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.content-gallery {
    /* background-color: yellow; */
    margin: 10px auto;
    padding: 20px 40px 20px 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}
.content-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
.content-gallery img:hover{
    box-shadow: 0px 2px 50px rgba(159, 155, 155, 0.9);
    transform: scale(1.0) translateY(-5px);
  transition: transform 0.4s ease;
}

.person {
    /* background-color: aqua; */
    width: 100%;
    height: 60%;
}

.info-person img {
   
    border-radius: 50px;
    top: 5px;
    left: 16px;
    
}
.info-person img:hover{
    width: 100px;
    height: 110px;
    transform: scale(1.1) translateY(-5px);
  transition: transform 0.4s ease;
}

.info-person {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
    padding-top: 10px;

}

.ubication {
    margin: 10px 40px;
    position: relative;
}

.visit-profile {
    position: absolute;
    right: 10px;
    color: var(--color-gray-500);
}

.contact {
    background-color: var(--color-gray-600);
    /* width: 100%; */
    height: 40%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 40px;
    padding-top: 5px;
    position: relative;
}

.message {
    position: absolute;
    top: 25px;
    right: 50px;
    color: var(--color-gray-500);
}

.contact-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.next {
    /* background-color: #212529; */
    width: 200px;
    height: 30px;
    margin-left: 42%;
    display: flex;
    justify-content: space-between;
}

.next a {

    width: 80px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;

}
.next a:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 2px 30px rgba(19, 19, 19, 0.9);

}
.content-img-details:hover .img-car{
 transform: scale(1.0) translateY(-5px);
  transition: transform 0.4s ease;
}
@media (max-width: 768px) {
   html, body {
    overflow-x: hidden;
  }
   /* .container-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  } */

  .header {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    align-items: center;
    margin: 0;
  }
  .logo{
    margin: 0;
    width: 180px;
    height: auto;
  }

  .container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search {
    width: 90%;
    margin: 10px auto;
    position: relative;
  }

  .input {
    width: 90%;
    left: 30px;
  }

  .bi-search {
    left: 10px;
    top: 15px;
  }

  .info {
      display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .profile {
    margin-right: 0;
  }

  .principal {
    flex-direction: column;
    width: 100%;
  }

  
  .sidebar {

    height: auto !important;
    min-height: auto !important;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: none;
    border-bottom: 1px solid white;
    padding: 10px 0;
  }

  .items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .item {
    width: auto;
    margin: 0;
    font-size: 14px;
    padding: 5px 10px;
  }
  
  .body-page {
    width: 100%;
  }

  .container-details {
    flex-direction: column;
    /* padding: 10px; */
    gap: 20px;
  }

  .content-img-details,
  .content-details {
    width: 100%;
    height: auto;
  }

  .content-img-details img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .content-img-details h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }

  .content-price {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .content-price h2 {
    font-size: 24px;
    text-align: center;
  }

  .info-person {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 0;
  }

  .ubication {
    margin: 10px 20px;
  }

  .visit-profile {
    position: static;
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .contact {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .message {
    position: static;
    text-align: center;
  }

  .content-details-cars img {
    width: 100%;
    height: auto;
  }

  .container-gallery {
    height: auto;
    padding: 0 10px;
  }

  .content-gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
  }

  .content-gallery img {
    height: auto;
  }

  .next {
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
  }

  .next a {
    width: 90%;
    padding: 10px;
    font-size: 16px;
  }
  .content-details {
  width: 100%;
  height: auto;
  padding-right: 0; /* ← eliminar el padding que causaba el desbordamiento */
}
}
